*
{
    margin: 0;
}

html
{
    overflow-x:hidden;
}

a
{
    text-decoration: none;
}

.top {
    position: absolute;
    width: 100%;
    height: 20%;
}

.main{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
}